---
import Layout from "../layouts/Layout.astro";
import NavContainer from "../components/NavContainer.astro";
import NavButton from "../components/NavButton.astro";
import Footer from "../components/Footer.astro";
import type { Frontmatter } from "../layouts/ProjectLayout.astro";
import ProjectItem from "../components/ProjectItem.astro";

const projects = await Astro.glob<Frontmatter>("./projects/*.md");
---

<Layout title="Projects">
  <div class="base-style text-center">
    <main class="container mx-auto max-w-4xl">
      <div class="mx-4">
        <p
          class="mt-10 mb-8 text-center font-sans text-4xl font-light md:text-6xl"
        >
          Projects
        </p>

        {/* Header command prompt */}
        <div class="text-left font-mono font-bold">
          <p>
            <span class="text-yellow-500">λ</span> in
            <span class="text-blue-700 dark:text-blue-400"
              ><a href="/" class="hover:underline">~</a>/projects</span
            >
          </p>
          <p>
            <span class="text-emerald-500 dark:text-emerald-400">
              {"->"}
            </span>{" "}
            ls -l
            <!-- {
            keyword !== "" ? (
              <span>
                {" "}
                <span class="text-gray">|</span> grep{" "}
                <span class="text-yellow-600">"{keyword}"</span>
              </span>
            ) : (
              ""
            )
          }
          {
            keyword !== "" ? (
              <span class="text-gray">
                {" "}
                (
                <a
                  href="#"
                  class="text-red-700 hover:underline"
                  onClick={() => setKeyword("")}
                >
                  × clear
                </a>
                )
              </span>
            ) : null
          }
          <span>{cursor}</span> -->
          </p>
          {
            /* <p>
            <span class="text-emerald-400">{'->'}</span> cd{' '}
            <span class="text-gray">{dirs[dirIdx]}</span>
            <span>{cursor}</span>
          </p> */
          }
        </div>

        {/* Projects grid */}
        <div
          class="my-8 grid grid-cols-1 gap-4 text-left font-mono sm:grid-cols-2 md:grid-cols-3"
        >
          {
            projects
              .sort((a, b) =>
                b.frontmatter.date.localeCompare(a.frontmatter.date),
              )
              .map((project) => <ProjectItem project={project} />)
          }
        </div>

        {/* Footer */}
        <NavContainer>
          <NavButton href="/">Back to Homepage</NavButton>
        </NavContainer>
      </div>
    </main>

    <Footer />
  </div>
</Layout>
