---
import Layout from "../layouts/Layout.astro";
import NavContainer from "../components/NavContainer.astro";
import NavButton from "../components/NavButton.astro";
import Footer from "../components/Footer.astro";

interface FrontmatterButton {
  name: string;
  icon?: string;
  link: string;
}

export interface Frontmatter {
  title: string;
  description?: string;
  slug: string;
  keywords: string[];
  date: string;
  buttons?: FrontmatterButton[];
}
interface Props {
  frontmatter: Frontmatter;
}

const { frontmatter } = Astro.props;
---

<style>
  @reference "../styles/style.css";
  .btn {
    @apply text-gray-dark dark:text-gray-light hover:text-gray-darkest dark:hover:text-gray-lightest mx-2 my-1 border-2 border-red-500/40 px-4 py-2 font-mono uppercase no-underline transition-all hover:border-red-500 dark:border-yellow-500/30 hover:dark:border-yellow-500;
  }
</style>

<Layout
  title={"Project: " + frontmatter.title}
  description={frontmatter.description}
  keywords={frontmatter.keywords}
>
  <div class="base-style text-center">
    <main class="container mx-auto max-w-4xl">
      <div class="mx-4">
        <p
          class="mt-10 mb-8 text-center font-sans text-4xl font-light md:text-6xl"
        >
          Projects
        </p>

        {/* Header command prompt */}
        <div class="text-left font-mono font-bold">
          <p>
            <span class="text-yellow-500">λ</span> in{" "}
            <span class="text-blue-700 dark:text-blue-400">
              <a href="/" class="hover:underline">~</a>/<a
                href="/projects"
                class="hover:underline">projects</a
              >/{frontmatter.slug}
            </span>
          </p>
          <p>
            <span class="text-emerald-400">{"->"}</span> cat README.md
          </p>
        </div>

        {/* Title */}
        <p class="mt-10 mb-4 font-mono text-2xl font-bold md:text-4xl">
          {frontmatter.title}
        </p>
        <p class="text-gray">---</p>
        <p class="text-gray-dark dark:text-gray-light font-mono">
          {frontmatter.date}
        </p>
        <p class="text-gray font-mono text-sm">
          [{frontmatter.keywords.join(", ")}]
        </p>
        <p class="text-gray">---</p>

        {/* Content */}
        <div class="project-content text-left font-mono text-lg">
          <article>
            <slot />
          </article>
        </div>

        {/* Buttons */}
        {
          frontmatter.buttons !== null ? (
            <div>
              <p class="mt-6 font-mono text-xl font-bold text-emerald-700 uppercase dark:text-emerald-300">
                - Хэрэгцээт холбоосууд -
              </p>
              <div class="mt-4 flex shrink flex-wrap justify-center">
                {frontmatter.buttons?.map((btn) => (
                  <a
                    href={btn.link}
                    class="btn"
                    target="_blank"
                    rel="noreferrer"
                  >
                    {btn.name}
                  </a>
                ))}
              </div>
            </div>
          ) : null
        }

        {/* Footer */}
        <NavContainer>
          <NavButton href="/projects">Back to Projects</NavButton>
        </NavContainer>
      </div>
    </main>

    <Footer />
  </div>
</Layout>
